@media (min-width: 1024px) {
  ::ng-deep .mat-mdc-tab.mdc-tab {
    max-width: 100px !important;
    min-width: auto !important;
    align-items: center !important;
  }

  :host ::ng-deep #backgrounds .mat-mdc-tab.mdc-tab {
  max-width: 60px !important;
  min-width: auto !important;
  background-color: theme('colors.gray.400') !important;
      align-items: center !important;

}

  :host ::ng-deep #elements .mat-mdc-tab.mdc-tab {
    max-width: 60px !important;
    min-width: auto !important;
    align-items: center !important;

    background-color: #9ca3af !important; 
  }
}

  :host ::ng-deep #elements .mat-mdc-tab.mdc-tab {
    background-color: #9ca3af !important; 
            max-height: 30px !important;

  }

  :host ::ng-deep #backgrounds .mat-mdc-tab.mdc-tab {
  background-color: theme('colors.gray.400') !important;
              max-height: 30px !important;
                  align-items: center !important;


  }

:host ::ng-deep #fonts .mat-mdc-tab.mdc-tab {
  background-color: theme('colors.gray.400') !important;
              max-height: 30px !important;
                  align-items: center !important;


}

:host ::ng-deep #images .mat-mdc-tab.mdc-tab {
  background-color: theme('colors.gray.400') !important;
              max-height: 30px !important;
                  align-items: center !important;


}

.shape-icon {
  fill: theme('colors.gray.400');    
  stroke: theme('colors.gray.400');   
}